@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0px;
}
header{
    height: 25px;
    padding: 5px;
    background-color: lightgray ;
    font-family: 'Courgette', cursive;
    text-align: center;
}
main{
    height: 515px;
    padding: 15px;
    background-image: url(../imgs/sao-paulo-324913_1280.jpg);
    font-family: 'Courgette', cursive;
    text-align: center;
}
#video{  
    margin-top: 50px;
}
div.icones{
    margin-left: 580px;
    padding: 10px;
    display: inline-flex;
}
div.icones img{
    height: 50px;
    margin-left: 25px;
}